{% load static %}

<!-- Fixed Transparent Navbar -->
<nav class="navbar navbar-expand-lg fixed-top" id="mainNav">
  <div class="container">
    <a class="navbar-brand" href="#">
      <img src="{% static 'images/logo/white.png' %}" alt="Logo" class="img-fluid logo-white">
      <img src="{% static 'images/logo/black.png' %}" alt="Logo" class="img-fluid logo-dark">
    </a>
    <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav" aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
      <span class="navbar-toggler-icon"></span>
    </button>
    <div class="collapse navbar-collapse" id="navbarNav">
      <ul class="navbar-nav ms-auto me-3 align-items-center">
        <li class="nav-item">
          <a class="nav-link" href="#hero-animation">Home</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#benefits">Características</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#services">Servicios</a>
        </li>
        <li class="nav-item">
          <a class="nav-link" href="#faqAccordion">FAQ</a>
        </li>
      </ul>
      <a href="#contact-section" class="btn btn-primary">Contáctanos</a>
    </div>
  </div>
</nav>