<!-- SECTION 1: MARKETING DIGITAL -->
<section id="services" class="service-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 service-content">
        <h1 class="service-title">{{ services_1.title|upper }}</h1>
        <p class="service-subtitle">{{ services_1.subtitle }}</p>
        
        <div class="service-items">
          {% for card in services_1.cards %}
          <div class="service-item">
            <div class="service-icon">
              <i class="{{ card.card_icon }}"></i>
            </div>
            <div class="service-info">
              <h3>{{ card.card_title }}</h3>
              <p>{{ card.card_text }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      
      <div class="col-lg-6 service-image-container">
        <img src="{{ marketing_image }}" alt="{{ services_1.title }}" class="astronaut-img">
      </div>
    </div>
  </div>
</section>

<!-- SECTION 2: DESARROLLO WEB -->
<section class="service-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 service-image-container order-lg-1 order-2">
          <img src="{{ web_image }}" alt="{{ services_2.title }}" class="astronaut-img">
      </div>
      
      <div class="col-lg-6 service-content order-lg-2 order-1 text-lg-right">
        <h1 class="service-title">{{ services_2.title|upper }}</h1>
        <p class="service-subtitle">{{ services_2.subtitle }}</p>
        
        <div class="service-items right-aligned">
          {% for card in services_2.cards %}
          <div class="service-item">
            <div class="service-info">
              <h3>{{ card.card_title }}</h3>
              <p>{{ card.card_text }}</p>
            </div>
            <div class="service-icon">
              <i class="fas fa-{{ card.card_icon }}"></i>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
    </div>
  </div>
</section>

<!-- SECTION 3: DISEÑO GRÁFICO -->
<section class="service-section py-5">
  <div class="container">
    <div class="row">
      <div class="col-lg-6 service-content">
        <h1 class="service-title">{{ services_3.title|upper }}</h1>
        <p class="service-subtitle">{{ services_3.subtitle }}</p>
        
        <div class="service-items">
          {% for card in services_3.cards %}
          <div class="service-item">
            <div class="service-icon">
              <i class="fas fa-{{ card.card_icon }}"></i>
            </div>
            <div class="service-info">
              <h3>{{ card.card_title }}</h3>
              <p>{{ card.card_text }}</p>
            </div>
          </div>
          {% endfor %}
        </div>
      </div>
      
      <div class="col-lg-6 service-image-container">
        
        <img src="{{ graph_image }}" alt="{{ services_3.title }}" class="astronaut-img">
            
      </div>
    </div>
  </div>
</section>