.background-container {
  position: relative;
  width: 100%;
  height: 894px; /* Ocupa toda la altura de la ventana */
  overflow: hidden;
}
.dynamic-background {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  display: grid;
  grid-template-columns: repeat(10, 1fr); /* 10 columnas */
  grid-template-rows: repeat(5, 1fr);   /* 10 filas */
  z-index: 1; /* Fondo detrás del contenido */
}

.dynamic-background .square {
  background-color: #2d2742;
  /* border blanco */
  border: 1px solid #ffffff65;
  
  opacity: 1; /* Opacidad inicial */
  transition: opacity 0.8s ease-in-out; /* Transición suave */
}